{% extends 'layout.html' %}

  {% block body%}
  <div class="container text-center">
  <h1>Registered Students</h1>
  </div>
<div class="container text-center">
<table class="table">
  <thead class="table-dark">
  <tr>
    <th scope="col">ID No</th>
    <th scope='col'>Name</th>
    <th scope='col'>Sports</th>
    <th scope='col'>Action</th>
  </tr>
</thead>
<tbody>
  {% for registrant in registrants%}
  <tr>
    <th scope="row">{{registrant.id}}</th>
    <td>{{registrant.name}}</td>
    <td>{{registrant.sport}}</td>
    <td><a href="/delete/{{registrant.id}}">Delete</a>   <a href="/update/{{registrant.id}}">Update</a></td>

  </tr>
  {% endfor%}
</tbody>
</table>
</div>
 
 
  {%endblock%}

  {%block footer%}
  <a href='/'>Go to home</a>
  {%endblock%}
 