{% extends 'layout.html'%}

{% block body%}

<div class="container text-center">
    <h1>Update form</h1>
</div>

<div class="container text-center">
    
<form method="post" action="/update/{{registrant.id}}">
    <input type="text" name="name" placeholder="{{registrant.name}}" autocomplete="off" autofocus required>
    <select name="sport" autofocus >
        <option selected="true" disabled="disabled">Sports</option>   
        {% for sport in sports%}

        <option value={{sport}}>{{sport}}</option>

        {% endfor %}
    </select>
    <button type="submit">Update</button>
</form>
</div>


{%endblock%}